In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("housing_data(1).csv")

In [4]:
print(df)

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  \
0    0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93   0.0  0.573  6.030   NaN  2.5050    1  273

     PTRATIO       B  LSTAT  MEDV
0       15.3  396.90   4.98  24.0
1       17.8  396.90   9.14  21.6
2       17.8  392.83   4.03  34.7
3       18.7  394.63   2.94  33.4
4       18.7  396.90    NaN  36.2
..       ...     ...    ...   ...
501     21.0  391.99    NaN  22.4
502     21.0  396.90   9.08  20.6
503     21.0  396.90   5.64  23.9
504     21.0  393.45   6.48  22.0
505     21.0  396.90   7.88  11.9

[506 rows x 14 columns]

In [5]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,486.000000,486.000000,486.000000,486.000000,506.000000,506.000000,486.000000,506.000000,506.000000,506.000000,506.000000,506.000000,486.000000,506.000000
mean,3.611874,11.211934,11.083992,0.069959,0.554695,6.284634,68.518519,3.795043,9.549407,408.237154,18.455534,356.674032,12.715432,22.532806
std,8.720192,23.388876,6.835896,0.255340,0.115878,0.702617,27.999513,2.105710,8.707259,168.537116,2.164946,91.294864,7.155871,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.081900,0.000000,5.190000,0.000000,0.449000,5.885500,45.175000,2.100175,4.000000,279.000000,17.400000,375.377500,7.125000,17.025000
50%,0.253715,0.000000,9.690000,0.000000,0.538000,6.208500,76.800000,3.207450,5.000000,330.000000,19.050000,391.440000,11.430000,21.200000
75%,3.560263,12.500000,18.100000,0.000000,0.624000,6.623500,93.975000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     486 non-null    float64
 1   ZN       486 non-null    float64
 2   INDUS    486 non-null    float64
 3   CHAS     486 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      486 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    486 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [7]:
df.isnull()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,False,False,False,False,False,False,False,False,False,False,False,False,True,False
502,False,False,False,False,False,False,False,False,False,False,False,False,False,False
503,False,False,False,False,False,False,False,False,False,False,False,False,False,False
504,False,False,False,False,False,False,False,False,False,False,False,False,False,False
505,False,False,False,False,False,False,True,False,False,False,False,False,False,False

In [8]:
df.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [9]:
df.dropna()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,0.17783,0.0,9.69,0.0,0.585,5.569,73.5,2.3999,6,391,19.2,395.77,15.10,17.5
500,0.22438,0.0,9.69,0.0,0.585,6.027,79.7,2.4982,6,391,19.2,396.90,14.33,16.8
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0

In [10]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [11]:
df.shape

(506, 14)

In [12]:
df1=df.dropna()

In [13]:
df1.shape

(394, 14)

In [14]:
df_x=df1[['INDUS','TAX']]
df_y=df1['MEDV']

In [15]:
df_x

     INDUS  TAX
0     2.31  296
1     7.07  242
2     7.07  242
3     2.18  222
5     2.18  222
..     ...  ...
499   9.69  391
500   9.69  391
502  11.93  273
503  11.93  273
504  11.93  273

[394 rows x 2 columns]

In [16]:
df_y

0      24.0
1      21.6
2      34.7
3      33.4
5      28.7
       ...
499    17.5
500    16.8
502    20.6
503    23.9
504    22.0
Name: MEDV, Length: 394, dtype: float64

In [17]:
reg=linear_model.LinearRegression()

In [18]:
x_train,x_test,y_train,y_test=train_test_split(df_x, df_y, test_size= 0.33, random_state= 42)

In [19]:
reg.fit(x_train, y_train)

LinearRegression()

In [20]:
y_pred = reg.predict(x_test)
print(y_pred)

[23.19119483 24.96379877 24.27112641 25.84281854 22.63808433 27.06911369
 26.91323166 25.81526762 24.62401716 17.59269336 24.82356466 27.06911369
 24.68036468 24.56568448 14.39388693 24.96379877 19.0434572  25.20247595
 14.39388693 14.39388693 24.81021035 22.63808433 14.39388693 27.00610285
 26.4150411  17.59269336 27.14179721 27.65068466 21.19350134 27.14179721
 28.43774278 14.39388693 14.39388693 14.39388693 23.15906856 25.57553854
 19.0434572  24.76892943 27.22551375 24.81021035 27.22551375 28.97297504
 14.39388693 26.4150411  26.6279706  23.15906856 27.20637798 14.39388693
 17.59269336 25.13412259 26.67772994 25.84281854 24.81021035 14.39388693
 22.63808433 19.0434572  28.2909363  24.56568448 24.81021035 26.09927115
 23.15906856 25.13412259 14.39388693 25.46921023 14.39388693 25.46921023
 14.39388693 25.46921023 25.46018608 24.82356466 28.74770358 27.2008931
 24.27112641 17.59269336 14.39388693 27.2008931  17.59269336 28.49996272
 24.81021035 14.39388693 25.46921023 23.46429584 21.43432186 14.39388693
 23.19942808 22.63808433 10.2376946  14.39388693 28.22686171 19.0434572
 14.39388693 14.39388693 24.27112641 14.39388693 24.18886116 27.06911369
 27.14179721 21.19350134 27.43831275 24.81021035 21.43432186 25.21484559
 24.82356466 24.81021035 14.39388693 14.39388693 14.39388693 19.0434572
 25.46921023 14.39388693 10.2376946  14.39388693 23.94241737 23.19119483
 14.39388693 14.39388693 25.46018608 24.62401716 17.59269336 24.81021035
 14.39388693 24.81021035 19.0434572  14.39388693 25.46921023 25.81526762
 25.13412259 24.27112641 24.62401716 14.39388693 14.39388693]

In [21]:
print(y_test)

93     25.0
352    18.6
319    21.0
65     23.5
499    17.5
       ...
249    26.2
309    20.3
189    34.9
378    13.1
472    23.2
Name: MEDV, Length: 131, dtype: float64

In [22]:
print( np.mean((y_pred - y_test)**2 ))

74.4461881306601

In [23]:
from sklearn.metrics import mean_squared_error
print( mean_squared_error(y_test, y_pred))

74.4461881306601

In [24]:
from sklearn import metrics
mse = metrics.mean_squared_error(y_test,y_pred)
mae = metrics.mean_absolute_error(y_test,y_pred)
rmse = np.sqrt(metrics.mean_squared_error(y_test,y_pred))
print(f'Mean Squared Error: {mse}',f'Mean Absolute Error: {mae}',f'Root Mean Squared Error: {rmse}',sep='\n')

Mean Squared Error: 74.4461881306601
Mean Absolute Error: 5.825633536331089
Root Mean Squared Error: 8.62822044981815

In [25]:
print(reg.coef_)

[-0.33969066 -0.01959054]